/* For now, this is lifted straight from nue-glow with minor modifications */

/* example light mode */

pre {
  --glow-bg-color: #f9f9f9;
  --glow-base-color: #555;

  /* brand coloring */
  --glow-primary-color: #0068d6;
  --glow-secondary-color: #bd2864;
  --glow-accent-color: #456aff;

  /* rare case. make it "pop" */
  --glow-special-color: #7820bc;

  /* shades of gray */
  --glow-char-color: #8e989c;
  --glow-comment-color: #9aa1a3;
  --glow-counter-color: #bbb;

  /* selection color */
  --glow-marked-color: #51c6fe29;
}

pre {
  background-color: var(--glow-bg-color, #20293A);
  color: var(--glow-base-color, #a2aab1);
  padding: var(--glow-padding, 1.5em);

  counter-reset: line-counter 0;
  font-family: monospace;
  line-height: 1.7;
  overflow-x: auto;

  /* reset */
  * {
    font-weight: 400;
    font-style: inherit;
    text-decoration: inherit
  }

  /* primary accent color */
  b { color: var(--glow-primary-color, #7dd3fc) }

  /* secondary accent color */
  em { color: var(--glow-secondary-color, #f472b6) }

  /* special emphasis */
  strong { color: var(--glow-accent-color, #419fff) }

  /* brackets, special characters */
  i { color: var(--glow-char-color, #64748b) }


  /* vawy error message */
  u {
    text-decoration: underline wavy var(--glow-error-color, red);
    text-decoration-thickness: .15em;
    text-underline-offset: .5em;
  }

  /* comments */
  sup {
    color: var(--glow-comment-color, #6f7a7d);
    font-size: inherit;
    vertical-align: inherit;
    font-style: italic;
  }

  /* special */
  label { font-weight: bold; color: var(--glow-special-color, #fff); }

  /* marked code */
  mark {
    background-color: var(--glow-marked-color, #2dd4bf26);
    color: unset;
    border-radius: .2em;
    padding: .3em .4em;
    margin: -.3em -.4em;
  }

  /* line numbers */
  span {
    counter-increment: line-counter 1;

    &:before {
      color: var(--glow-counter-color, #475569);
      content: counter(line-counter);
      display: inline-block;
      text-align: right;
      padding-right: 1em;
      margin-right: 1em;
      width: 2.5em;
    }
  }

  /* errorneous line number styling */
  span:has(u):before {
    background-color: var(--glow-error-color, red);
    border-radius: .2em;
    font-weight: bold;
    color: white;
  }
}

/* styling for specially marked lines */

pre {
  --glow-line-color: 50, 180, 250;
  --glow-del-color: 250, 110, 130;
  --glow-ins-color: 50, 210, 190;
  --glow-line-opacity: 0.15;

  --padd: var(--glow-padding, 1.5em);

  ins, del, dfn {
    min-width: calc(100% + calc(var(--padd) * 2));
    margin-left: calc(var(--padd) * -1);
    padding-left: var(--padd);
    border-left: .2em solid white;
    display: inline-block;
    position: relative;
    width: 100%;

    :first-child { margin-left: -.2em; }

    /* plus & minus characters  */
    &:before {
      position: absolute;
      left: 95%;
    }

    /* with line numbers */
    span & {
      margin-left: calc(-3.5em - var(--padd));
      padding-left: calc(3.5em + var(--padd));

      /* &:before { left: calc(var(--padd) - 1.5em); } */
    }
  }

  ins {
    border-color: rgb(var(--glow-ins-color));
    background-color: rgba(var(--glow-ins-color), var(--glow-line-opacity));
    &:before {
      content: '+';
      color: rgb(var(--glow-ins-color));
    }
  }

  del {
    border-color: rgb(var(--glow-del-color));
    background-color: rgba(var(--glow-del-color), var(--glow-line-opacity));
    border-radius: 0;

    &:before {
      content: '-';
      color: rgb(var(--glow-del-color));
    }
  }

  dfn {
    border-color: rgb(var(--glow-line-color));
    background-color: rgba(var(--glow-line-color), var(--glow-line-opacity));
  }
}